.ticket_block {

	width: 800px;
	margin: auto;
	text-align: center;
	background: white;
	margin-top: 50px;
	margin-bottom: 50px;
}

.ticket_img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.price {
	display: flex;
	align-items: center;
	justify-content: ;
	margin-left: 13px;
}

.sheudule {
	display: flex;
	align-items: center;
	justify-content: ;
	margin-left: 13px;
	font-size: 16px;
}

.location {
	display: flex;
	align-items: center;
	justify-content: ;
	margin-left: 13px;
	font-size: 16px;
}

button {
	background: #33cc99;
	padding: 10px;
	border-radius: 16px;
	outline: none;
	cursor: pointer;
	border: none;
	margin-bottom: 40px;
	margin-top: 40px;
	color: white;
	font-size: 16px;
}

body {
	background: #cccccc;
	font-family: 'Rubik', sans-serif;
	padding: 0;
	margin: 0;

}

* {
	font-family: 'Rubik', sans-serif;

}

.ticket_title {
	padding-top: 40px;
	border-bottom: 1px solid #cccccc;
/*    width: 735px;   
*/    margin: auto;
}

.ticket_title h3 {
	font-size: 35px;
	color: #000000;
	font-family: "Rubik";
	font-weight: 500;
}

.ticket_title p {
	font-size: 20px;
}

.blue-text {
	color: #6666ff;
}

.ticket_content h1 {
	font-size: 35px;
	color: #000000;
	font-family: "Rubik";
	font-weight: 500;
	text-align: left;
	margin-left: 9px;
}

.ticket_info p {
	font-size: 24px;
	color: #000000;
	font-family: "Rubik";
	font-weight: 400;
}

.ticket_content {
	width: 665px;
	margin: auto;
}

.justify_text p {
	padding: 0;
	margin: 0;
	text-align: justify;
}

.icon img {
	margin-right: 20px;
}

.icon {
	margin-bottom: 20px;
}

.ticket_img img {
	max-width: 100%;
	height: auto;
}

@media (max-width: 600px) {
	.ticket_content h1 {
		font-size: 18px;
	}

	.ticket_title p, .ticket_info p, .event_contact p  {
		font-size: 14px;
	}

	.ticket_content h1 {
		margin-left: 0px;
	}
}

@media (max-width: 991px) {
	.ticket_block {
		width: 100% !important;
	}

	.ticket_content {
		width: 95%;
	}

	.icon {
      margin-left: 5px;
	}
}

@media (min-width: 601px) and (max-width: 990px) {
	.ticket_info {
		width: 653px;
		margin: auto;
	}

	.ticket_content h1 {
		text-align: center;
		margin-left: 0px;
	}

	.ticket_info p {
		font-size: 20px;
	}
}