<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-boxed nav-justified">
                <li><a href="#/forms/layouts"><i class="color-success fa fa-phone-square"></i> Сотовая связь</a></li>
                <li><a href="#/forms/elements"><i class="color-warning fa fa-bank"></i> Банки и кредиты</a></li>
                <li><a href="#/forms/validation"><i class="color-danger fa fa-rocket"></i> Переводы</a></li>
                <li><a href="#/forms/wizard"><i class="color-info fa fa-gamepad"></i> Развлечения</a></li>
                <li><a href="#/tables/static"><i class="color-primary fa fa-credit-card"></i> Платёжные системы</a></li>
                <li><a href="#/tables/responsive"><i class="color-info-alt fa fa-wrench"></i> ЖКХ платежи</a></li>
                <li><a href="#/tables/dynamic"><i class="color-gray fa fa-sliders"></i> Другое</a></li>
            </ul>
        </div>
    </div>

</br>

<!-- PaySys-->
    <div class="row">
        <div class="col-lg-6 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-primary ">
                    <i class="fa fa-rub"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">Единый кошелёк <span class="size-h4"></span></p>
                    <p class="text-muted"><button popover-placement="top" popover-title="Аккаунт не идентифицирован" popover="Пожалуйста, пройдите идентификацию для получения займа" popover-append-to-body="true" class="btn btn-success btn-xs">Оплатить за счёт займа</button></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-primary">
                    <i class="fa fa-rub"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">Эликснет <span class="size-h4"></span></p>
                    <p class="text-muted"><button popover-placement="top" popover-title="Аккаунт не идентифицирован" popover="Пожалуйста, пройдите идентификацию для получения займа" popover-append-to-body="true" class="btn btn-success btn-xs">Оплатить за счёт займа</button></p>
                </div>
            </div>
        </div>
<!-- PaySys-->