/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.page-header .wrap-logo {
		margin-top: -29px;
	}
	.page-header .wrap-menu {
		width: 56%;
	}
	.page-header .wrap-menu ul li a {
		display: block;
		padding: 13px 15px;
	}
	.page-header .list-social {
		width: 23%;
	}



	.top-slider .item .wrap-title {
		font-size: 31px;
	}


	
	.title-blocks {
		font-size: 31px;
	}
	.title-blocks h1,
	.title-blocks h2,
	.title-blocks h3,
	.title-blocks h4,
	.title-blocks h5,
	.title-blocks h6 {
		font-size: 31px;
	}


	
	.contact-details .data-block {
		width: 40%;
	}
	.contact-details .wrap-map {
		width: 60%;
	}



	.page-footer .wrap-menu ul li {
		padding: 0 10px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.page-header .top-header {
		display: none;
	}
	.page-header .middle-header {
		margin-top: 140px;
	}
	.page-header .wrap-logo {
		float: none;
		width: 100%;
		margin-top: -130px;
		margin-bottom: 0;
	}
	.page-header .wrap-logo img {
		width: auto;
	}
	.page-header .wrap-menu {
		float: none;
		width: 100%;
	}
	.page-header .wrap-menu ul li a {
		display: block;
		padding: 13px 30px;
	}
	.page-header .list-social {
		float: none;
		width: 100%;
		text-align: center;
	}
	.page-header .bottom-header {
		text-align: center;
	}



	.calculator .calculator-block::before {
		position: relative;
		width: 100%;
		height: 200px;
		border-bottom-left-radius: 0;
		border-top-right-radius: 8px;
	}
	.calculator .calculator-block .wrap-form {
		margin-left: 0;
		width: 60%;
	}
	.calculator .calculator-block .square-animation {
		width: 40%;
	}


	
	.contact-details .data-block {
		width: 50%;
	}
	.contact-details .wrap-map {
		width: 50%;
	}



	.page-footer .wrap-menu {
		width: 70%;
		margin-left: 0;
	}
	.page-footer .wrap-menu ul li {
		padding: 0 15px;
	}
	.page-footer .list-social {
		width: 30%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.page-header .action-menu {
		display: block;
	}
	.page-header .wrap-menu {
		display: none;
	}
	.page-header .wrap-menu ul {
		display: block;
		width: auto;
		margin: 0 -15px;
		padding-top: 10px;
	}
	.page-header .wrap-menu ul li {
		display: block;
		width: 100%;
	}
	.page-header .wrap-menu ul li a {
		padding: 5px 15px;
	}
	.page-header .list-social {
		padding-top: 5px;
	}



	.top-slider .item .wrap-title {
		font-size: 24px;
	}
	.top-slider .item .wrap-sub-title {
		font-size: 21px;
	}


	
	.title-blocks {
		font-size: 24px;
	}
	.title-blocks h1,
	.title-blocks h2,
	.title-blocks h3,
	.title-blocks h4,
	.title-blocks h5,
	.title-blocks h6 {
		font-size: 31px;
	}



	.list-shares .item-shares {
		width: 100%;
	}



	.list-advantages .item-advantages {
		float: none;
		width: 100%;
	}
	.list-advantages .item-advantages .wrap-img {
		height: auto !important;
	}
	.list-advantages .item-advantages .wrap-title {
		height: auto !important;
	}
	.list-advantages .item-advantages .wrap-text {
		height: auto !important;
	}


	
	.contact-details .data-block {
		float: none;
		width: 100%;
	}
	.contact-details .wrap-map {
		float: none;
		width: 100%;
		padding-top: 25px;
	}
	.contact-details .wrap-map .map-block {
		height: 300px;
	}



	.page-footer .wrap-menu {
		float: none;
		width: 100%;
		text-align: center;
	}
	.page-footer .wrap-menu ul {
		display: block;
	}
	.page-footer .wrap-menu ul li {
		display: inline-block;
	}
	.page-footer .list-social {
		float: none;
		width: 100%;
		padding-top: 15px;
		text-align: center;
	}
	.bottom-footer .footer-phone {
		float: none;
		width: 100%;
		padding-top: 0;
		text-align: center;
	}
	.bottom-footer .developer {
		float: none;
		width: 100%;
		padding-top: 15px;
		text-align: center;
	}
	.bottom-footer .copyright {
		float: none;
		width: 100%;
		padding-top: 15px;
		text-align: center;
	}
}

@media only screen and (max-width : 640px) {
	.calculator .calculator-block::before {
		height: 150px;
	}
	.calculator .calculator-block .wrap-form {
		float: none;
		width: 100%;
		padding-left: 20px;
	}
	.calculator .calculator-block .wrap-radio {
		padding: 2px 5px;
	}
	.calculator .calculator-block .wrap-radio:last-child {
		padding: 2px 5px;
	}
	.calculator .calculator-block .square-animation {
		float: none;
		width: 100%;
		padding-top: 0;
		padding-bottom: 20px;
	}
	.calculator .calculator-block .square-animation-block {
		float: none;
	}
}

@media only screen and (max-width : 560px) {
	.page-footer {
		padding-top: 30px;
	}
	.page-footer .wrap-menu ul li {
		display: block;
		padding: 4px 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.bottomfixed {
		position: fixed;
		right: -55px;
	}
	.col-md-6.col-sm-6.col-xs-6.item_video_rev {
		width: 100%;
	}
	.calculator .calculator-block .wrap-form .block-square .wrap-input {
		width: 52px;
	}
	.calculator .calculator-block .wrap-form .block-square .punctuation {
		display: block;
		padding-top: 4px;
	}



	.contact-details .wrap-map .map-block {
		height: 200px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.list-shares .item-shares .wrap-img {
		float: none;
		width: auto;
	}
	.list-shares .item-shares .text-block {
		padding-top: 15px;
		padding-left: 0;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	.page-header .wrap-menu {
		display: block!important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
