<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

   <div class="row">
        <div class="col-lg-12">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-danger">
                    <i class="fa fa-times-circle"></i>
                </span>
                <div class="box-info">
                    <p class="size-h3">К сожалению, карта не может быть использована на нашем сайте. <span class="size-h4"></span></p>
                    <p class="text-muted"><span data-i18n="Карта не соответствует требованиям безопасности или отклонена по иным причинам. Пожалуйста, добавьте новую карту."></span></p>
                </div>
            </div>
        </div>