<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- Thumbnails -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-star-empty"></span> Спецпредложения и акции для клиентов</strong></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img alt="" src="images/assets/600_400-1.jpg">
                                <div class="caption">
                                    <h3>Takko Fashion</h3>
                                    <p>Takko Fashion – это одежда и аксессуары городского стиля для женщин, мужчин и детей всех возрастов по доступным ценам.</p>
                                    <p><button popover-placement="top" popover-title="Вы ещё не получили денежные средства" popover="Акция доступна только для активных клиентов" popover-append-to-body="true" class="btn btn-primary btn-block">Получить промокод на скидку</button></p>
                                </div>
                            </div>    
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img alt="" src="images/assets/600_400-2.jpg">
                                <div class="caption">
                                    <h3>Wikimart</h3>
                                    <p>Крупнейший онлайн-торговый центр. Распространяется только на товары магазина Викимарт. Предложение ограничено.</p>
                                    <p><button popover-placement="top" popover-title="Вы ещё не получили денежные средства" popover="Акция доступна только для активных клиентов" popover-append-to-body="true" class="btn btn-primary btn-block">Получить промокод на скидку</button></p>
                                </div>
                            </div>    
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img alt="" src="images/assets/600_400-3.jpg">
                                <div class="caption">
                                    <h3>Travelata</h3>
                                    <p>Онлайн выбор и покупка путешествий для отпуска. Все популярные направления, тысячи предложений. Акция действительна до 1 июня.</p>
                                    <p><button popover-placement="top" popover-title="Вы ещё не получили денежные средства" popover="Акция доступна только для активных клиентов" popover-append-to-body="true" class="btn btn-primary btn-block">Получить промокод на скидку</button></p>
                                </div>
                            </div>    
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img alt="" src="images/assets/600_400-4.jpg">
                                <div class="caption">
                                    <h3>Rentalcars.com</h3>
                                    <p>Rentalcars.com - бронирование аренды авто по всему миру. Никаких сборов за пользование картами. Бесплатное и моментальное бронирование.</p>
                                    <p><button popover-placement="top" popover-title="Вы ещё не получили денежные средства" popover="Акция доступна только для активных клиентов" popover-append-to-body="true" class="btn btn-primary btn-block">Получить промокод на скидку</button></p>
                                </div>
                            </div>    
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img alt="" src="images/assets/600_400-5.jpg">
                                <div class="caption">
                                    <h3>KANZLER</h3>
                                    <p>Одежда для мужчин, принимающих решения. Предложение действительно только для мужчин при активном балансе в сумме свыше 40 000 рублей.</p>
                                    <p><button popover-placement="top" popover-title="Вы ещё не получили денежные средства" popover="Акция доступна только для активных клиентов" popover-append-to-body="true" class="btn btn-primary btn-block">Получить промокод на скидку</button></p>
                                </div>
                            </div>    
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img alt="" src="images/assets/600_400-6.jpg">
                                <div class="caption">
                                    <h3>МТИ</h3>
                                    <p>Учитесь с 15% скидкой в Московском Технологическом Институте. Оформите денежные средства, оплатите учёбу и мы вернём Вам деньги.</p>
                                    <p><button popover-placement="top" popover-title="Вы ещё не получили денежные средства" popover="Акция доступна только для активных клиентов" popover-append-to-body="true" class="btn btn-primary btn-block">Получить промокод на скидку</button></p>
                                </div>
                            </div>    
                        </div>
                    </div>            
                </div>
            </div>
            <!-- end Thumbnails -->