        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Мой аккаунт"></span> </a></li>
        <li><a href="#/mail/inbox"><i class="fa fa-credit-card"></i><span data-i18n="Пополнить баланс"></span></a></li>
        <li><a href="#/mail/compose"><i class="fa fa-university"></i><span data-i18n="Платежи и переводы"></span></a></li>
        <li><a href="#/mail/single"><i class="fa fa-star-o"></i><span data-i18n="Спецпредложения"></span></a></li>
        <li class="nav-task">
            <a href="#/tasks/tasks">
                <i class="fa fa-support"></i><span data-i18n="Помощь онлайн"></span>
                
            </a>
        </li>
        
            
                
           
    </ul>
</div>