body i {
    font-family: 'FontAwesome' !important;
    color: red;
    font-size: 100px;
    cursor: pointer;
    margin-right: 30px;
}

#block_21 {
    margin-top: 75px;
    height: 632px;
    background: url(img/car_1.jpg) center no-repeat;
}

.fontawe {
    display: none;
}
.fontawe a {
    text-decoration: none;
}

@media only screen and (max-width: 1186px) {

#block_7 .items {
    display: flex;
    flex-direction: column;
  }

  #block_7 .item {
        width: 70%;
        margin: auto;
  }

  #block_7 .item .icon-20 {
    width: 100%;
    height: 200px;
        background: url(img/1.jpg) no-repeat;
    background-size: cover;
  }

  #block_7 .item:last-child {
    margin: auto;
  }

  #block_7 .item .button {
    width: 367px;
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  }

#block_7 .item .price {
  font-size: 65px;
}

#block_7 .item ul {
  height: 825px;
}
  #block_7 .item .icon-21 {
    width: 100%;
    height: 200px;
        background: url(img/2.jpg) no-repeat;
    background-size: cover;
  }

    #block_7 .item .icon-22 {
    width: 100%;
    height: 200px;
        background: url(img/3.jpg) no-repeat;
    background-size: cover;
  }

  #block_7 .item ul {
    font-size: 33px;
  }

  #block_7 .item li {
    margin-left: 66px;
    width: auto;
  }

#block_7 .item .title {
  font-size: 50px;
  width: 100%;
}
   /* * {
        width: 100% !important;
    }*/
  body,
  nav,
  footer {
    width: 100% !important;
  }

  nav .logo {
  	height: 132px;
  	width: 400px;
  }

  nav .logo img {
  	height: 108px;
    /*margin-right: 262px;*/
    position: relative;
    right: 21px;
  }

  #block_1,
  #block_2,
  #block_3,
  #block_4,
  #block_5,
  #block_6,
  #block_7,
  #block_8,
  #block_9,
  #block_10,
  #block_11,
  #block_13,
  #block_14,
  #block_15,
  footer {
    width: 100% !important;
    /*display: none;*/
  }

  #block_1 {
  	margin-top: 135px;
  }

  .container,
  .nav-menu-hamburg,
  .nav-phone {
    width: 100% !important;
    /*position: unset !important;*/
  }
  .nav-menu-hamburg,
  .nav-phone {
  	display: none;
  }
  .side-menu-wrapper ul {
    display: block;
    min-width: 100%;
  }
  .side-menu-wrapper ul li {
    float: none;
  }

  .fontawe {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
  }

  .block_3_items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #block_3 .main_title {
    font-size: 90px;
  }

  #block_3 .item {
    width: 750px;
    margin-right: 0;
  }

  #block_3 .item .icon {
    width: 340px;
    height: 240px;
    margin: 0 auto 5px;
        display: flex;
    align-items: center;
    padding-bottom: 52px;
  }

  #block_3 .item .text {
    font-size: 50px;
    padding-bottom: 100px;
  }

  #block_3 .item .title {
    font-size: 60px;
  }


  .block_4_items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #block_4 .item {
    width: 700px;
    margin-right: 0;
  }

  #block_4 .item .icon {
    width: 200px;
    height: 178px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    border-radius: inherit;
  }

  #block_4 .item .text {
    font-size: 44px;
    width: 500px;
        /*padding-left: 28px;*/
        padding-left: 80px;
  }

  #block_6 .main_title {
    font-size: 90px;
  }

  #block_6 .buttons {
    width: 530px;
  }

  #block_6 .button {
    width: 250px;
    height: 80px;
    font-size: 40px;
    line-height: 70px;
  }

  #block_8 .main_title {
    font-size: 75px;
  }

  #block_8 .sub_title {
    font-size: 40px;
  }

  #block_8 .items {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #block_8 .item:first-child {
    width: 1000px;
    padding-bottom: 20px;
  }

  #block_8 .title {
    font-size: 70px;
  }

  #block_8 .item ul {
    width: 930px;
    margin-left: 4%;
  }

  #block_8 .item ul {
    font-size: 40px;
  }

  #block_8 .button {
    width: 640px;
    height: 120px;
    line-height: 100px;
    font-size: 70px;
  }

  #block_9 .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #block_9 .main_title{
        font-size: 90px;
  }

  #block_9 .buttons .item .service {
    width: 700px;
    height: 75px;
    font-size: 45px;
  }

  #block_9 .buttons .item.active .service {
    font-size: 40px;
        padding: 15px 0;
  }

  #block_9 .buttons .item:last-child {
        margin-right: 30px;
  }

  #block_9 .buttons .item.active {
    width: 700px;
    height: 100px;
  }

  #block_9 .buttons .item .number {
        width: 90px;
        height: 75px;
    font-size: 45px;
  }

  #block_9 .buttons .item.active .number {
    padding: 10px 0;
  }

  #block_9 .buttons .item.active .name{
    padding: 17px 0;
    font-size: 37px;
    width: 360px;
  }

  #block_9 .buttons .item .name {
    height: 75px;
    width: 608px;
    font-size: 45px;
  }

  #block_9 .slides .active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #block_9 .slides .item .text {
    width: 1000px;
    font-size: 55px;
    text-align: justify;
  }

  #block_9 .button {
        font-size: 45px;
        width: 500px;
    height: 70px;
  }

  #block_10 .main_title {
    font-size: 100px;
  }

  #block_10 .items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #block_10 .item {
    width: 980px;
    margin-right: 0px;
  }

  #block_10 .item .title {
    font-size: 75px;
  }

  #block_10 .item .button {
    margin: 250px auto;
    font-size: 50px;
    width: 240px;
    padding: 20px 218px;

  }

  #block_10 .item .text {
    font-size: 50px;
  }

  #block_11 .main_title {
    font-size: 100px;
  }

  #block_13 .main_title {
        font-size: 85px;
  }

  #block_13 .items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #block_13 .item {
    width: 100%;
  }

  #block_13 .item:last-child .description,
  #block_13 .item:last-child .title {
    text-align: left;
  }

  #block_13 .item .title{
    font-size: 45px;
  }

  #block_13 .item .description {
    font-size: 30px;
  }

  #block_13 .item .item_title {
        font-size: 40px;
  }

  #block_14 .main_title {
        font-size: 55px;
  }

  #block_14 .items {
        display: flex;
    flex-direction: column;
    align-items: center;
  }

  #block_14 .item {
    width: 100%;
    margin-bottom: 200px;
    margin-right: 0px;
  }

  #block_14 .item span {
    font-size: 60px;
  }

  footer .container {
        display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .block_left,
  footer .block_left:nth-child(2),
  footer .block_right {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
  }

  footer .title {
    font-size: 80px;
  }

  footer p {
    font-size: 40px;
  }

  footer .block_left .button {
    width: 650px;
    margin-left: 1px;
    font-size: 30px;
    margin: auto;
  }








  /*.icon_1,
  .text_1,
  .text_2,
  .text_3,
  .form_1,
  .video_button {
    position: unset !important;
    width: 100% !important;
  }
*/

.icon_1 {
    top: 95px;
    left: 42px;
}

.main_header {
    font-size: 25px;
    position: relative;
    left: -73px;
}

.text_2 {
    left:210px !important;
    top: 148px;
}

.text_3{
    top: 560px;
    left:0;
}

.video_button {
    right: 562px;
}

.form_1 {
    top: 260px;
    left: 630px !important;
}

}


/* end 1186px*/

.side-menu-wrapper { /* style menu wrapper */
    background: #0d0c0c;
    padding: 40px 0 0 40px;
    position: fixed; /* Fixed position */
    top: 0;
    right: 0; /* Sidebar initial position. "right" for right positioned menu */
    height: 100%;
    z-index: 2;
    transition: 0.5s; /* CSS transition speed */
    width: 900px;
    font: 60px "Courier New", Courier, monospace;
    box-sizing: border-box;
}
.side-menu-wrapper > ul{ /* css ul list style */
    list-style:none;
    padding:0;
    margin:0;
    overflow-y: auto; /* enable scroll for menu items */
    height:95%;
}
.side-menu-wrapper > ul > li > a { /* links */
    display: block;
    border-bottom: 1px solid #131313;
    padding: 6px 4px 6px 4px;
    color: #989898;
    transition: 0.3s;
    text-decoration: none;
}
.side-menu-wrapper > a.menu-close { /* close button */
    padding: 8px 0 4px 23px;
    color: #6B6B6B;
    display: block;
    margin: -30px 0 -10px -20px;
    font-size: 100px;
    text-decoration: none;
}

.menu-overlay { /* overlay */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}


}