*:focus {
	outline: none;
}

body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	min-width: 1170px;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

nav {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	background: #2b2a29;
}

nav .container {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	background: #fff;
	justify-content: space-between;
}

nav ul {
	padding: 0;
	list-style: none;
	margin: 27px 0 0 0;
	display: flex;
	flex-grow: 1;
	min-width: 647px;
	justify-content: center;
}

nav li span {
	cursor: pointer;
	color: black;
	text-decoration: none;
	font-weight: 600;
	-webkit-text-size-adjust: 100%;
}

nav li span:hover {
	text-decoration: underline;
}

nav ul li {
	float: left;
	padding: 0 10px;
}

nav .logo {
	float: left;
	background: linear-gradient(126deg, #2b2a29 0%, #2b2a29 76%, #fff 77%, #fff 100%);
	background-size: contain;
	height: 76px;
	width: 184px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.logo__image {}

nav .logo img {
	height: 62px;
	margin-right: 66px;
}

nav .logo img:nth-child(2) {
	display: none;
}

nav .logo div {
	float: left;
	margin-left: 8px;
}

nav .contacts {
	text-align: right;
	width: 304px;
	color: #fff;
	padding-right: 60px;
	box-sizing: border-box;
	background: linear-gradient(126deg, #fff 0%, #fff 18.5%, #2b2a29 19%, #2b2a29 100%);
}

nav .contacts .phone {
	font-size: 17px;
	padding-top: 12px;
}

nav .contacts .phone a {
	color: #fff;
	text-decoration: none;
}

nav .contacts .phone span {
	font-weight: 700;
	font-size: 22px;
}

nav .contacts .work {
	font-size: 13px;
}

nav.active {
	background: rgba(81, 81, 81, 0.96);
	color: #fff;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

nav.active li span {
	color: #fff;
}

nav.active .logo {
	color: #fff;
}

nav.active .logo,
nav.active .contacts {
	background: none;
}

nav.active .container {
	background: none;
}

nav.active .contacts {
	color: #fff;
}

nav.active .contacts .phone a {
	color: #fff;
}

#block_1 {
	margin-top: 75px;
	height: 632px;
	background: url(img/car_1.jpg) center no-repeat;
}

#block_1 .container {
	position: relative;
	width: 1150px;
	height: 100%;
	margin: 0 auto;
}

#block_1 .form_1 {
	top: 260px;
	left: 846px;
}

#block_1 .icon_1 {
	position: absolute;
	top: 95px;
	left: 42px;
	width: 141px;
	height: 120px;
	padding-top: 18px;
	background: #FFEAC0;
	text-align: center;
	font-size: 15px;
	font-weight: 700;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#block_1 .icon_1:after {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 124px;
	height: 123px;
	border: 3px solid #282528;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#block_1 .icon_1 span {
	font-size: 27px;
}

.main_header {
	font-size: 29px;
	margin: 0;
	padding: 5px 42px;
	background: #2b2a29;
	color: #fff;
	border-radius: 6px;
	display: inline-block;
}

.margin_bottom {
	margin-bottom: 1px;
}

#block_1 .text_1 {
	top: 27px;
	font-size: 21px;
	font-weight: 700;
	color: #282528;
	text-align: center;
	position: relative;
}

.bottom_title {
	display: block;
}

#block_1 .text_2 {
	position: absolute;
	top: 148px;
	left: 731px;
	font-size: 19px;
	font-weight: 600;
	color: #282528;
	text-align: right;
}

#block_1 .text_2 b {
	color: #000;
	font-weight: 900;
	font-size: 21px;
}

#block_1 .text_3 {
	position: absolute;
	top: 560px;
	left: 0;
	font-size: 20px;
	color: #fff;
}

.flag_rf {
	background: url('img/flag_rf.png') center no-repeat;
	background-size: contain;
	height: 20px;
	width: 30px;
	display: inline-block;
	vertical-align: -3px;
}

.video_button {
	background: rgba(255, 255, 255, 0.3);
	display: inline-block;
	padding: 20px 30px;
	position: absolute;
	bottom: 40px;
	right: 502px;
	border: 2px solid #282528;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s;
}

.video_button:hover {
	background: rgba(255, 255, 255, 0.6);
}

#block_2 {
	background: url(img/icons_11.png) center no-repeat #282528;
	background-size: 1150px;
	height: 80px;
}

#block_3 {
	margin: 0 auto;
	width: 1150px;
	padding: 0 10px;
	padding-bottom: 90px;
}

#block_3 .main_title {
	font-size: 34px;
	font-weight: 600;
	color: #282528;
	text-align: center;
	padding: 60px 0 70px;
}

#block_3 .main_title span {
	color: #7C0019;
}

#block_3 .item {
	float: left;
	width: 255px;
	margin-right: 43px;
}

#block_3 .item:last-child {
	margin-right: 0;
}

#block_3 .item .icon {
	width: 140px;
	height: 140px;
	margin: 0 auto 45px;
	border: 2px solid #7C0019;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#block_3 .item .icon .content {
	margin: 0 auto;
	background: url(img/icons_1.jpg) no-repeat;
}

#block_3 .item:nth-child(1) .icon .content {
	width: 109px;
	height: 85px;
	margin-top: 25px;
}

#block_3 .item:nth-child(2) .icon .content {
	width: 73px;
	height: 77px;
	margin-top: 25px;
	background-position: -134px 0;
}

#block_3 .item:nth-child(3) .icon .content {
	width: 91px;
	height: 88px;
	margin-top: 26px;
	background-position: -228px 0;
}

#block_3 .item:nth-child(4) .icon .content {
	width: 101px;
	height: 93px;
	margin-top: 24px;
	background-position: -343px 0;
}

#block_3 .item .title {
	font-size: 19px;
	font-weight: 700;
	text-align: center;
	color: #282528;
}

#block_3 .item .text {
	font-size: 16px;
	color: #282528;
	text-align: center;
	margin-top: 5px;
}

#block_4 {
	background: #E5E5E5;
}

#block_4 .items {
	margin: 0 auto;
	width: 1150px;
	padding: 40px 10px 0;
}

#block_4 .item {
	display: table;
	float: left;
	width: 340px;
	margin-bottom: 40px;
	margin-right: 55px;
}

#block_4 .item:nth-child(3n) {
	margin-right: 0;
}

#block_4 .item .icon {
	float: left;
	width: 80px;
	height: 58px;
	border: 3px solid #48020B;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	padding-top: 22px;
	color: #48020B;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

#block_4 .item .icon .key {
	display: inline-block;
	width: 30px;
	height: 39px;
	background: url(img/icons_2.png) no-repeat;
}

#block_4 .item .text {
	width: 230px;
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
}

#block_5 .main_title {
	font-size: 34px;
	font-weight: 600;
	color: #282528;
	text-align: center;
	padding-top: 60px;
}

#block_5 .main_title span {
	color: #7C0019;
}

#block_5 .sub_title {
	font-size: 22px;
	color: #282528;
	text-align: center;
	padding: 3px 0 30px;
	text-transform: uppercase;
}

#block_5 .items {
	margin: 0 auto;
	width: 1150px;
}

#block_5 .items_1 {
	padding: 40px 0 0;
}

#block_5 .items_2 {
	margin: 30px auto;
}

#block_5 .items_3 {
	padding: 0 10px;
}

#block_5 .item {
	float: left;
	width: 130px;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-right: 125px;
}

#block_5 .item:before {
	position: absolute;
	top: 0;
	left: 23px;
	content: '';
	display: block;
	width: 84px;
	height: 68px;
	background: url(img/icons_3.png) no-repeat;
}

#block_5 .item:last-child {
	margin-right: 0;
}

#block_5 .items_1 .item:nth-child(1):before {
	background-position-x: 0;
}

#block_5 .items_1 .item:nth-child(2):before {
	background-position-x: -85px;
}

#block_5 .items_1 .item:nth-child(3):before {
	background-position-x: -170px;
}

#block_5 .items_1 .item:nth-child(4):before {
	background-position-x: -255px;
}

#block_5 .items_1 .item:nth-child(5):before {
	background-position-x: -340px;
}

#block_5 .items_2 .block_item:nth-child(1) .item:nth-child(1):before {
	background-position-x: -425px;
}

#block_5 .items_2 .block_item:nth-child(1) .item:nth-child(2):before {
	background-position-x: -510px;
}

#block_5 .items_2 .block_item:nth-child(3) .item:nth-child(1):before {
	background-position-x: -595px;
}

#block_5 .items_2 .block_item:nth-child(3) .item:nth-child(2):before {
	background-position-x: -680px;
}

#block_5 .items_3 .item:nth-child(1):before {
	background-position-x: -765px;
}

#block_5 .items_3 .item:nth-child(2):before {
	background-position-x: -850px;
}

#block_5 .items_3 .item:nth-child(3):before {
	background-position-x: -935px;
}

#block_5 .items_3 .item:nth-child(4):before {
	background-position-x: -1020px;
}

#block_5 .items_3 .item:nth-child(5):before {
	background-position-x: -1105px;
}

#block_5 .item .align {
	padding-top: 75px;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
}

#block_5 .item .align:hover {
	text-decoration: none;
	color: #48020B;
}

#block_5 .block_item {
	float: left;
	width: 130px;
	padding-top: 25px;
}

#block_5 .block_item .item {
	margin-right: 0;
}

#block_5 .block_item .item:first-child {
	margin-bottom: 60px;
}

#block_5 .block_auto {
	float: left;
	width: 890px;
	height: 300px;
	background: url(img/car_2.jpg) center no-repeat;
}

#block_5 .button {
	display: block;
	margin: 60px auto;
	width: 300px;
	color: #FDE685;
	background: #6e0210;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#block_5 .button:hover {
	background: #48020B;
}

#block_5 .popup {
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000000;
	overflow: auto;
	position: fixed;
	align-items: center;
	justify-content: center;
	background: rgba(11, 11, 11, 0.7);
}

#block_5 .popup .content {
	position: relative;
	background: #fff;
	opacity: 1;
	width: 350px;
	z-index: 100000001;
	border-radius: 3px;
	padding: 25px 45px;
}

#block_5 .popup .close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	opacity: .65;
	color: #333;
	font-size: 36px;
	cursor: pointer;
	font-family: Arial, Baskerville, monospace;
}

#block_5 .popup .close:hover {
	opacity: 1;
}

#block_5 .popup .title {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: #282528;
	margin-bottom: 10px;
}

#block_5 .popup .description {
	font-size: 15px;
	text-align: justify;
	margin-bottom: 15px;
}

#block_5 .popup .photo img {
	width: 100%;
	height: 100%;
}

#block_6 {
	background: #282528;
}

#block_6 .main_title {
	font-size: 34px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	padding: 50px 0 30px;
}

#block_6 .buttons {
	width: 330px;
	margin: 0 auto;
}

#block_6 .button {
	float: left;
	width: 150px;
	height: 40px;
	background: #fff;
	font-weight: 600;
	font-size: 16px;
	color: #282528;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#block_6 .button:first-child {
	margin-right: 30px;
}

#block_6 .button:hover {
	color: #ca0029;
}

#block_6 .button.active {
	background: #7C0019;
	color: #fff;
}

#block_6 .container {
	margin: 0 auto;
	width: 1150px;
	padding: 0 10px 60px;
}

#block_6 .small {
	display: none;
	position: relative;
	width: 1150px;
	height: 260px;
	margin-top: 60px;
	background: url(img/how_working.png) no-repeat;
}

#block_6 .small .text {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	color: #FDE685;
}

#block_6 .small .text_1 {
	top: 210px;
	left: 10px;
}

#block_6 .small .text_2 {
	top: 210px;
	left: 482px;
}

#block_6 .small .text_3 {
	top: 198px;
	left: 915px;
}

#block_6 .small .title {
	position: absolute;
	top: 27px;
	left: 468px;
	background: #cb9b0e;
	width: 222px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	color: #282528;
}

#block_6 .full {
	display: none;
	width: 1150px;
	height: 290px;
	margin-top: 30px;
}

#block_6 .full .sub_title {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: #fff;
}

#block_6 .full .items {
	width: 956px;
	margin: 0 auto;
}

#block_6 .full .item {
	float: left;
	width: 478px;
	margin-top: 40px;
}

#block_6 .full .item .icon {
	float: left;
	width: 70px;
	height: 70px;
	border: 4px solid #fff;
	font-size: 26px;
	font-weight: 600;
	color: #FDE685;
	text-align: center;
	line-height: 70px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#block_6 .full .item .text {
	float: left;
	color: #fff;
	width: 360px;
	padding: 5px 20px 0;
	font-size: 15px;
}

#block_6 .full .item .text .title {
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 3px;
}

#block_6 .active {
	display: block;
}

#block_7 .main_title {
	font-size: 34px;
	font-weight: 600;
	color: #282528;
	text-align: center;
	padding: 60px 0 50px;
}

#block_7 .main_title span {
	color: #7C0019;
}

#block_7 .items {
	margin: 0 auto 70px;
	width: 1150px;
	padding: 0 10px;
}

#block_7 .item {
	float: left;
	width: 295px;
	margin-right: 132px;
}

#block_7 .item:last-child {
	margin-right: 0;
}

#block_7 .item .title {
	display: table;
	width: 295px;
	height: 55px;
	font-size: 20px;
	font-weight: 700;
	color: #282528;
	text-align: center;
	margin-bottom: 10px;
}

#block_7 .item .title .align {
	display: table-cell;
	vertical-align: middle;
}

#block_7 .item .icon-20, .icon-21, .icon-22 {
	width: 295px;
	height: 162px;
	background: url(img/services_1.jpg) no-repeat;
}

#block_7 .item:nth-child(2) .icon-21, .icon-22 .icon-23 {
	background-position: -296px 0;
}

#block_7 .item:nth-child(3) .icon-22 {
	background-position: -596px 0;
}

#block_7 .item ul {
	height: 490px;
	padding: 15px 0 0 0;
	margin: 0;
	list-style: none;
	border: 1px solid #7C0019;
	border-top: 0;
	color: #959595;
	font-size: 14px;
	font-weight: 700;
}

#block_7 .item li {
	position: relative;
	width: 210px;
	margin: 0 auto;
	padding: 6px 0;
}

#block_7 .item li.active {
	color: #282528;
}

#block_7 .item li.active:before {
	position: absolute;
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background: #48020B;
	top: calc(50% - 4px);
	left: -22px;
}

#block_7 .item .price {
	font-size: 22px;
	font-weight: 600;
	color: #282528;
	text-align: center;
	margin: 30px 0 10px;
}

#block_7 .item .button {
	margin: 0 auto;
	width: 210px;
	height: 45px;
	line-height: 45px;
	background: #6e0210;
	color: #FDE685;
	cursor: pointer;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#block_7 .item .button:hover {
	background: #48020B;
}

#block_8 {
	background: #E5E5E5;
	padding-bottom: 50px;
}

#block_8 .main_title {
	font-size: 29px;
	font-weight: 600;
	color: #282528;
	text-align: center;
	padding-top: 60px;
}

#block_8 .main_title span {
	color: #7C0019;
}

#block_8 .sub_title {
	margin: 5px 0 60px;
	font-size: 26px;
	font-weight: 600;
	color: #48020B;
	text-align: center;
	text-transform: uppercase;
}

#block_8 .items {
	margin: 0 auto;
	width: 1150px;
	padding: 0 10px;
}

#block_8 .item {
	float: left;
	width: 575px;
}

#block_8 .item:first-child {
	width: 480px;
}

#block_8 .item:last-child {
	width: 670px;
	height: 460px;
	background: url(img/car_3.png) center no-repeat;
}

#block_8 .item ul {
	width: 430px;
	padding: 15px 0;
	margin: 0 0 0 25px;
	list-style: none;
	border-top: 0;
	color: #000000;
	font-size: 17px;
	font-weight: 600;
}

#block_8 .item li {
	position: relative;
	padding: 6px 0;
}

#block_8 .item li:before {
	position: absolute;
	content: '';
	display: block;
	width: 12px;
	height: 6px;
	background: #7C0019;
	top: calc(50% - 3px);
	left: -25px;
}

#block_8 .title {
	font-size: 17px;
	font-weight: 600;
	margin: 0 0 10px 25px;
}

#block_8 .button {
	margin: 0 auto;
	width: 240px;
	height: 45px;
	line-height: 45px;
	background: #6e0210;
	color: #FDE685;
	cursor: pointer;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#block_8 .button:hover {
	background: #48020B;
}

#block_9 .main_title {
	font-size: 29px;
	font-weight: 600;
	color: #282528;
	text-align: center;
	padding-top: 60px;
}

#block_9 .main_title span {
	color: #7C0019;
}

#block_9 .buttons {
	margin: 50px auto 0;
	width: 1046px;
}

#block_9 .buttons .item {
	float: left;
	color: #FDE685;
	margin-right: 30px;
	cursor: pointer;
	border: 2px solid #fff;
	box-sizing: border-box;
}

#block_9 .buttons .item:last-child {
	margin-right: 0;
}

#block_9 .buttons .item:hover .number {
	background: #64000d;
}

#block_9 .buttons .item:hover .name {
	background: #48020B;
}

#block_9 .buttons .item:hover .service {
	background: #48020B;
}

#block_9 .buttons .item.active {
	color: #282528;
	width: 239px;
	height: 42px;
	margin-top: 2px;
	cursor: default;
	border: 2px solid #48020B;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#block_9 .buttons .item.active .number {
	background: #fff;
	padding: 8px 0;
	border-right: 2px solid #66000d;
	font-weight: 700;
}

#block_9 .buttons .item.active .name {
	background: #fff;
	padding: 8px 0;
	font-weight: 700;
}

#block_9 .buttons .item.active .service {
	background: #fff;
	padding: 8px 0;
	font-weight: 700;
}

#block_9 .buttons .item .number {
	float: left;
	width: 40px;
	padding: 10px 0;
	text-align: center;
	background: #870011;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#block_9 .buttons .item .name {
	float: left;
	width: 190px;
	padding: 10px 5px 10px 0;
	text-align: center;
	background: #6e0210;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#block_9 .buttons .item .service {
	width: 230px;
	padding: 10px 5px 10px 0;
	text-align: center;
	background: #6e0210;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#block_9 .slides {
	margin: 50px auto;
	width: 900px;
}

#block_9 .slides .item {
	display: none;
}

#block_9 .slides .item .icon {
	display: table-cell;
	position: relative;
	width: 330px;
	height: 200px;
}

#block_9 .slides .item .icon:before {
	content: '';
	position: absolute;
	top: calc(50% - 69px);
	left: calc(50% - 106px);
	width: 212px;
	height: 138px;
	background: url(img/icons_4.jpg) -564px 0 no-repeat;
}

#block_9 .slides .item:nth-child(2) .icon:before {
	top: calc(50% - 78px);
	left: calc(50% - 57px);
	width: 115px;
	height: 156px;
	background-position: 0 0;
}

#block_9 .slides .item:nth-child(3) .icon:before {
	top: calc(50% - 70px);
	left: calc(50% - 126px);
	width: 253px;
	height: 140px;
	background-position: -116px 0;
}

#block_9 .slides .item:nth-child(4) .icon:before {
	top: calc(50% - 67px);
	left: calc(50% - 97px);
	width: 194px;
	height: 134px;
	background-position: -369px 0;
}

#block_9 .slides .item .text {
	display: table-cell;
	vertical-align: middle;
	width: 570px;
	font-size: 18px;
	font-weight: 600;
	color: #2B242A;
}

#block_9 .slides .active {
	display: table;
}

#block_9 .description {
	background: #E5E5E5;
	color: #282528;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.3;
	padding: 15px 0 10px;
}

#block_9 .description span {
	font-size: 22px;
	line-height: 2;
}

#block_9 .button {
	display: block;
	margin: 40px auto 70px;
	width: 280px;
	background: #303030;
	color: #FDE685;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#block_9 .button:hover {
	background: #282528;
}

#block_10 {
	background: #282528;
	padding-bottom: 40px;
}

#block_10 .main_title {
	font-size: 29px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	padding-top: 60px;
}

#block_10 .main_title span {
	color: #7C0019;
}

#block_10 .items {
	margin: 50px auto 0;
	width: 1000px;
}

#block_10 .item {
	float: left;
	width: 280px;
	color: #fff;
	text-align: center;
	margin-right: 80px;
}

#block_10 .item:before {
	content: '';
	display: block;
	background: url(img/icons_5.png) no-repeat;
	margin: 0 auto;
	height: 126px;
}

#block_10 .item:last-child {
	margin-right: 0;
}

#block_10 .item:nth-child(1):before {
	width: 82px;
}

#block_10 .item:nth-child(2):before {
	width: 106px;
	background-position: -94px 0;
}

#block_10 .item:nth-child(3):before {
	width: 106px;
	background-position: -210px 0;
}

#block_10 .item .title {
	display: table;
	width: 100%;
	height: 100px;
	font-weight: 600;
	font-size: 18px;
}

#block_10 .item .title .align {
	display: table-cell;
	vertical-align: middle;
}

#block_10 .item .text {
	font-size: 14px;
	height: 75px;
	padding: 0 10px;
}

#block_10 .item .button {
	margin: 30px auto;
	width: 100px;
	font-size: 14px;
	border: 1px solid #fff;
	padding: 8px 30px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#block_10 .item .button:hover {
	color: #000;
	background: #fff;
}

#block_10 .popup {
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000000;
	overflow: auto;
	position: fixed;
	align-items: center;
	justify-content: center;
	background: rgba(11, 11, 11, 0.7);
}

#block_10 .popup .content {
	position: relative;
	background: #fff;
	opacity: 1;
	width: 350px;
	z-index: 100000001;
	border-radius: 3px;
	padding: 25px 45px;
}

#block_10 .popup .close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	opacity: .65;
	color: #333;
	font-size: 36px;
	cursor: pointer;
	font-family: Arial, Baskerville, monospace;
}

#block_10 .popup .close:hover {
	opacity: 1;
}

#block_10 .popup .title {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

#block_10 .popup div {
	font-size: 14px;
	margin-top: 5px;
}

#block_10 .popup span {
	font-weight: 600;
}

#block_10 .popup p {
	font-style: italic;
}

#block_10 .popup .text_1 {
	margin-top: 15px;
}

#block_11 {
	padding-bottom: 80px;
}

#block_11 .main_title {
	font-size: 29px;
	font-weight: 600;
	color: #030015;
	text-align: center;
	padding-top: 60px;
	margin-bottom: 50px;
}

#block_11 .main_title span {
	color: #7C0019;
}

.vk_background {
	margin: 0 auto;
	width: 240px;
	height: 45px;
	line-height: 45px;
	color: #FDE685;
	cursor: pointer;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 50px;
	background: #6e0210;
	background-size: 20%;
	position: relative;
}

.vk_background:hover {
	background: #48020B;
}

.vk_background:after {
	content: "";
	width: 38px;
	height: 20px;
	position: absolute;
	background: url(img/vk.png) center no-repeat;
	top: 14px;
	right: 31px;
}

.block_11__reviews_title {
	display: block;
	width: 218px;
}

.popup_reviews {
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000000;
	overflow: auto;
	position: fixed;
	align-items: center;
	justify-content: center;
	background: rgba(11, 11, 11, 0.7);
}

.popup_reviews .content {
	position: relative;
	background: #fff;
	opacity: 1;
	width: 350px;
	z-index: 100000001;
	border-radius: 3px;
	padding: 25px 45px;
}

.popup_reviews .close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	opacity: .65;
	color: #333;
	font-size: 36px;
	cursor: pointer;
	font-family: Arial, Baskerville, monospace;
}

.popup_reviews .title {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: #282528;
	margin-bottom: 10px;
}

.popup_reviews .title span {
	color: #7C0019;
}

.popup_reviews .content .center_kupiapp {
	display: none !important;
}

.popup_reviews .description {
	max-height: 600px;
	overflow-y: auto;
}

.more_reviews {
	margin-top: 20px;
	display: block;
	width: 100%;
}

.popup_reviews .button {
	padding: 9px 0;
	text-align: center;
	background: #6e0210;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	width: 100%;
	display: inline-table;
}

#block_11 .slider-wrapper {
	position: relative;
	margin: 0 auto;
	width: 750px;
	height: 380px;
}

#block_11 .slider {
	position: relative;
	overflow: hidden;
}

#block_11 .slider ul {
	width: 20000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

#block_11 .slider li {
	float: left;
	width: 750px;
	height: 340px;
	display: flex;
	justify-content: center;
}

#block_11 .control-prev,
#block_11 .control-next {
	position: absolute;
	top: 340px;
	width: 40px;
	height: 40px;
	text-align: center;
	background: #7C0019;
	color: #fff;
	text-decoration: none;
	font: 40px/34px Arial, sans-serif;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#block_11 .control-prev {
	left: calc(50% - 45px);
}

#block_11 .control-next {
	right: calc(50% - 45px);
}

#block_11 .control-prev:hover span,
#block_11 .control-next:hover span {
	display: block;
}

#block_11 .control-prev.inactive,
#block_11 .control-next.inactive {
	opacity: .5;
	cursor: default;
}

#block_11 .photo {
	width: 105px;
	height: 105px;
	margin: 50px auto;
}

#block_11 .photo img {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#block_11 .text {
	text-align: justify;
}

#block_11 .name {
	text-align: right;
	margin-top: 20px;
	font-size: 14px;
}

#block_12 {
	background: #E5E5E5;
	padding-bottom: 50px;
}

#block_12 .main_title {
	font-size: 29px;
	font-weight: 600;
	color: #030015;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 45px;
}

#block_12 .main_title span {
	color: #7C0019;
}

#block_12 .slider-wrapper {
	position: relative;
	margin: 0 auto;
	width: 1050px;
	padding: 0 10px;
	height: 120px;
}

#block_12 .slider {
	position: relative;
	overflow: hidden;
}

#block_12 .slider ul {
	width: 20000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

#block_12 .slider li {
	float: left;
	width: 350px;
	height: 120px;
	text-align: center;
	line-height: 120px;
}

#block_12 .slider img {
	vertical-align: middle;
}

#block_13 .main_title {
	font-size: 29px;
	font-weight: 600;
	color: #030015;
	text-align: center;
	padding: 70px 0 60px;
}

#block_13 .main_title span {
	color: #7C0019;
}

#block_13 .items {
	margin: 0 auto 60px;
	width: 1000px;
}

#block_13 .item {
	width: 380px;
}

#block_13 .item:first-child {
	float: left;
}

#block_13 .item:last-child {
	float: right;
}

#block_13 .item .icon {
	background: url(img/icons_6.png) no-repeat;
	width: 60px;
	height: 60px;
	margin: 50px auto;
}

#block_13 .item:last-child .icon {
	background-position: -70px 0;
}

#block_13 .item .item_title {
	background: #282528;
	font-size: 21px;
	font-weight: 600;
	color: #FDE685;
	text-align: center;
	padding: 15px 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#block_13 .item .title {
	font-size: 20px;
	font-weight: 600;
}

#block_13 .item:last-child .title {
	font-weight: 700;
	color: #48020B;
	text-align: right;
}

#block_13 .item .description {
	margin: 20px 0;
	font-size: 15px;
}

#block_13 .item:first-child .description {
	padding-right: 60px;
}

#block_13 .item:last-child .description {
	text-align: right;
}

#block_14 {
	padding-bottom: 30px;
}

#block_14 .main_title {
	background: #48020B;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 22px;
	text-transform: uppercase;
	padding: 30px 0;
}

#block_14 .items {
	margin: 80px auto 0;
	width: 1000px;
}

#block_14 .item {
	float: left;
	position: relative;
	width: 300px;
	height: 220px;
	text-align: center;
	margin-right: 33px;
}

#block_14 .item:before {
	content: '';
	display: block;
	background: url(img/icons_7.png) no-repeat;
	width: 103px;
	height: 99px;
	margin: 0 auto;
}

#block_14 .item:last-child {
	margin-right: 0;
}

#block_14 .item:nth-child(2):before {
	background-position: -104px 0;
}

#block_14 .item:nth-child(3):before {
	background-position: -208px 0;
}

#block_14 .item:nth-child(4):before {
	background-position: -312px 0;
}

#block_14 .item:nth-child(5):before {
	background-position: -416px 0;
}

#block_14 .item:nth-child(6):before {
	background-position: -520px 0;
}

#block_14 .item span {
	margin-top: 10px;
	display: block;
	font-weight: 600;
}

#block_15 {
	height: 500px;
}

#block_15 .map {
	width: 100%;
	height: 500px;
}

#block_15 .container {
	position: relative;
	width: 1150px;
	margin: -500px auto 0;
}

#block_15 .form_1 {
	top: 110px;
	left: 846px;
}

footer {
	background: #282528;
	color: #fff;
}

footer p {
	margin: 10px 0;
	font-size: 15px;
}

footer a.tel {
	color: #fff;
	text-decoration: none;
}

footer .container {
	margin: 0 auto;
	width: 1050px;
	padding: 30px 10px;
}

footer .block_left {
	float: left;
	width: 300px;
}

footer .block_left:nth-child(2) {
	width: 180px;
}

footer .block_left a.vb {
	background: url(img/icons_10.png) no-repeat;
	width: 91px;
	height: 33px;
	display: inline-block;
	margin-right: 5px;
}

footer .block_left a.wa {
	background: url(img/icons_10.png) -93px 0 no-repeat;
	width: 59px;
	height: 33px;
	display: inline-block;
}

footer .block_left .button {
	width: 250px;
	text-align: center;
	background: #fff;
	color: #282528;
	font-size: 15px;
	font-weight: 700;
	padding: 10px 0;
	margin-left: 42px;
	margin-top: 48px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

footer .block_left .button:hover {
	background: #e5e5e5;
}

footer .block_right {
	float: right;
}

footer .block_right a.vk,
footer .block_right a.yt,
footer .block_right a.in,
footer .block_right a.fb,
footer .block_right a.ok {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-right: 5px;
	background: url(img/icons_8.1.png) no-repeat;
}

footer .block_right a.yt {
	background-position: -48px 0;
}

footer .block_right a.in {
	background-position: -97px 0;
}

footer .block_right a.fb {
	background-position: -146px 0;
}

footer .block_right a.ok {
	background-position: -190px 0;
}

footer .block_right a.email {
	color: #fff;
	margin-top: 10px;
	display: inline-block;
	position: relative;
	padding-left: 32px;
}

footer .block_right a.email:hover {
	text-decoration: none;
}

footer .block_right a.email:before {
	position: absolute;
	top: 2px;
	left: 0;
	background: url(img/icons_9.png) no-repeat;
	width: 30px;
	height: 30px;
	content: '';
}

footer .block_right .phone {
	margin-top: 5px;
}

footer .block_right .phone span {
	font-weight: 600;
	font-size: 21px;
}

footer .block_right .time {
	font-size: 15px;
}

footer .title {
	font-size: 17px;
	font-weight: 600;
}

.form_1 {
	position: absolute;
	width: 300px;
	height: 330px;
	background: #fff;
	border: 2px solid #282528;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.form_1 .main_title {
	font-size: 21px;
	font-weight: 700;
	color: #282528;
	text-align: center;
	padding: 20px 0 10px;
	text-transform: uppercase;
}

.form_1 .main_title span {
	color: #7C0019;
}

.form_1 .sub_title {
	font-size: 17px;
	color: #282528;
	text-align: center;
	margin-bottom: 10px;
}

.form_1 input[type="text"] {
	border: 1px solid #282528;
	padding: 10px 15px;
	font-size: 15px;
	margin: 15px 30px 0;
	width: 206px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.form_1 input[type="text"].error {
	border: 1px solid #c80000 !important;
}

.form_1 .text_error {
	visibility: hidden;
	font-size: 14px;
	margin-top: 19px;
	color: #6e0210;
	text-align: center;
}

.form_1 .button {
	width: 240px;
	margin: 5px 30px;
	padding: 8px 0;
	text-align: center;
	background: #6e0210;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.form_1 .button:hover {
	background: #48020B;
}

.form_1_result {
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000000;
	overflow: auto;
	position: fixed;
	align-items: center;
	justify-content: center;
	background: rgba(11, 11, 11, 0.7);
}

.form_1_result .content {
	position: relative;
	background: #fff;
	opacity: 1;
	width: 400px;
	z-index: 100000001;
	border-radius: 3px;
	padding: 25px 45px;
}

.form_1_result .close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	opacity: .65;
	color: #333;
	font-size: 36px;
	cursor: pointer;
	font-family: Arial, Baskerville, monospace;
}

.form_1_result .close:hover {
	opacity: 1;
}

.form_1_result .title {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #282528;
	margin-bottom: 15px;
}

.form_2 {
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000000;
	overflow: auto;
	position: fixed;
	align-items: center;
	justify-content: center;
	background: rgba(11, 11, 11, 0.7);
}

.form_2 .content {
	position: relative;
	background: #fff;
	opacity: 1;
	width: 350px;
	z-index: 100000001;
	border-radius: 3px;
	padding: 25px 45px;
}

.form_2 .close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	opacity: .65;
	color: #333;
	font-size: 36px;
	cursor: pointer;
	font-family: Arial, Baskerville, monospace;
}

.form_2 .close:hover {
	opacity: 1;
}

.form_2 .title {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: #282528;
	margin-bottom: 10px;
}

.form_2 .title span {
	color: #7C0019;
}

.form_2 .description {
	display: none;
	font-size: 15px;
	text-align: justify;
	margin-bottom: 15px;
}

.form_2 input[type="text"] {
	border: 1px solid #282528;
	padding: 10px 15px;
	font-size: 15px;
	margin: 5px 0;
	width: 318px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.form_2 input[type="text"].error {
	border: 1px solid #c80000 !important;
}

.form_2 input[data-field="phone"] {
	margin-bottom: 20px;
}

.form_2 .button {
	width: 350px;
	margin: 0 auto;
	padding: 8px 0;
	text-align: center;
	background: #6e0210;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.form_2 .button:hover {
	background: #48020B;
}

.form_2 .text_error {
	display: none;
	font-size: 14px;
	color: #6e0210;
	text-align: center;
	margin-bottom: 5px;
}

.form_2 ul {
	padding: 0;
	margin: 0;
	list-style: none;
	color: #282528;
	font-size: 14px;
}

.form_2 li {
	position: relative;
	width: 295px;
	margin: 0 auto;
	padding: 5px 0;
}

.form_2 li:before {
	position: absolute;
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background: #48020B;
	top: calc(50% - 4px);
	left: -22px;
}

.overlay {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	background-color: rgba(43, 42, 41, 0.7);
	z-index: 997;
	top: 0;
	left: 0;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	cursor: pointer;
}

.order-popup {
	position: fixed;
	z-index: 998;
	top: 50%;
	left: 50%;
	margin: -200px -300px;
	-moz-user-select: none;
	-webkit-user-select: none;
	display: none;
}

#block_1 .icon_1 span.additional_text {
	font-size: 11px;
	display: block;
	position: relative;
	margin-top: -4px;
}

@media screen and (min-width:900px) and (max-width:1300px) {
	body {
		zoom: 0.9;
	}
}